# Don't deploy this in production!
version: '3.7'
services:
  postgres:
    image: postgres:14.6-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - 5432:5432
    volumes:
      - ${POSTGRES_DATA_PATH}:/var/lib/postgresql/data
    networks:
      - app_network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 10

  neo4j:
    image: neo4j:4.4.14-community
    restart: unless-stopped
    ports:
      - 7474:7474
      - 7687:7687
    volumes:
      - ./.compose/neo4j/conf:/conf
      - ./.compose/neo4j/data:/data
      - ./.compose/neo4j/import:/import
      - ./.compose/neo4j/logs:/logs
      - ./.compose/neo4j/plugins:/plugins
    environment:
      # Raise memory limits:
      - NEO4J_dbms_memory_pagecache_size=250m
      - NEO4J_dbms.memory.heap.initial_size=250m
      - NEO4J_dbms_memory_heap_max__size=250m
      # Auth:
      - NEO4J_AUTH=none
      # Add APOC and GDS:
      - apoc.export.file.enabled=true
      - apoc.import.file.enabled=true
      - apoc.import.file.use_neo4j_config=true
      - NEO4JLABS_PLUGINS=["graph-data-science", "apoc"]
      - NEO4J_dbms_security_procedures_allowlist=gds.*, apoc.*
      - NEO4J_dbms_security_procedures_unrestricted=gds.*, apoc.*
      # Networking:
      - dbms.connector.bolt.listen_address=0.0.0.0:7687
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7474"]
      interval: 5s
      timeout: 5s
      retries: 10

  cartography:
    build:
      context: ./cartography
      dockerfile: ./Dockerfile.dev
    entrypoint: ["gunicorn", "--bind=0.0.0.0:6000", "cartography.wsgi:app"]
    environment:
      - CARTOGRAPHY_NEO4J_URI=${NEO4J_URI}
      - CARTOGRAPHY_VERBOSE=True
      - CARTOGRAPHY_IAMSPY_DIRECTORY=/home/cartography/iamspy
    networks:
      - app_network
    user: cartography
    init: true
    restart: on-failure
    depends_on:
      - neo4j
    ports:
      - 6000:6000
    volumes:
      - ${AWS_DIRECTORY}:/home/cartography/.aws
      - ./.compose/cartography/iamspy:/home/cartography/iamspy

  frontend:
    build:
      context: ./frontend
      dockerfile: ./Dockerfile.dev
    # If you add any environment variable here, you must add a row to
    # frontend/.env
    environment: 
      - REACT_APP_API_DOMAIN=${REACT_APP_API_DOMAIN}
      - REACT_APP_ENVIRONMENT=${MODE}
    volumes:
      - ./frontend:/usr/src/app
    networks:
      - app_network
    depends_on:
      - backend
    ports:
      - 3000:3000

  backend:
    build:
      context: ./backend
      dockerfile: ./Dockerfile
    environment:
      - WEBSITE_DOMAIN=${WEBSITE_DOMAIN}
      - NEO4J_URI=${NEO4J_URI}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - CARTOGRAPHY_URI=${CARTOGRAPHY_URI}
    networks:
      - app_network
    depends_on:
      - postgres
      - neo4j
      - cartography
    ports:
      - 8080:8080
  
  proxy:
    build:
      context: ./zeus-proxy
      dockerfile: ./Dockerfile
    depends_on:
      - backend
      - frontend
    networks:
      - app_network
    ports:
      - 80:80

networks:
  app_network:
    driver: bridge
