.g6-tooltip,.tooltip {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    font-size: 12px;
    color: #545454;
    background-color: rgba(255, 255, 255,1);
    padding: 10px 8px;
    box-shadow: rgb(174, 174, 174) 0px 0px 10px;
  }

  .g6-tooltip{
    word-break: break-all;
    max-width: 50%;
  }

  .autoCompleteDiv{
    box-shadow: rgb(174, 174, 174) 0px 0px 10px;
    margin-bottom: 4px;
    overflow-y: scroll;
    position: absolute;
    max-height: 400px;
    background: white;
    top: 100%;
  }

  .searchCustomDisplay > div{
    width:max-content
  }