@tailwind base;
@tailwind components;
@tailwind utilities;


.markdown > * {
    all: revert;
}

.markdown_blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
    word-wrap: break-word;
}